[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/*"
  to = "/.next/server/pages/index.html"
  status = 200

[build]
  command = "npm run build"
  publish = ".next"
